<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alpaca.Markets" version="5.2.7" targetFramework="net472" />
  <package id="AsyncIO" version="0.1.69" targetFramework="net472" />
  <package id="CsvHelper" version="27.2.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="envdte" version="17.0.31902.203" targetFramework="net45" requireReinstallation="true" />
  <package id="FastHashes" version="2.5.0" targetFramework="net472" />
  <package id="log4net" version="2.0.13" targetFramework="net45" />
  <package id="MD5" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.0.31902.203" targetFramework="net45" requireReinstallation="true" />
  <package id="NaCl.Net" version="0.1.13" targetFramework="net472" />
  <package id="NATS.Client" version="0.8.1" targetFramework="net45" />
  <package id="NetMQ" version="4.0.1.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Polly" version="7.2.2" targetFramework="net472" />
  <package id="PusherClient" version="2.1.0" targetFramework="net472" />
  <package id="PusherClientDotNet" version="1.0.0.0" targetFramework="net472" />
  <package id="PusherServer" version="4.6.1" targetFramework="net472" />
  <package id="PushoverNET" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.0.2" targetFramework="net45" />
  <package id="Standart.Hash.xxHash" version="3.1.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="SuperSocket.ClientEngine" version="0.10.0" targetFramework="net45" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net45" />
  <package id="SuperSocket.ProtoBase" version="1.7.0.17" targetFramework="net45" />
  <package id="Syncfusion.Chart.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Chart.Windows" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Compression.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Core.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Data.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.DataSource.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.DocIO.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Windows" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.GridCommon.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.GridExport.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.GridHelperClasses.Windows" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Grouping.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Linq.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.OfficeChart.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Pdf.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.PivotAnalysis.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.PivotTable.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.SfInput.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.SfListView.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Shared.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Shared.Windows" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.SpellChecker.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Tools.Base" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Tools.Windows" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.XlsIO.WinForms" version="19.3.0.57" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.IO.Pipelines" version="6.0.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="6.0.0" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net45" />
  <package id="ZeroMQ" version="4.1.0.31" targetFramework="net45" />
</packages>